/* @import "tailwindcss"; */

:root {
	--background: linear-gradient(294deg, #c8dce5 0%, #b6ccda 100%);
	--foreground: #fff;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-poppins), system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

.grid-container {
	display: grid;
	grid-template-columns: 6fr 3.5fr 0.5fr;
	grid-template-rows: 50vh 10vh 20vh;
	gap: 1rem;
	padding: 0 2rem 1rem;
}

.page-switcher {
	grid-column: 1;
	grid-row: 3;
}

.small-img {
	grid-column: 2;
	grid-row: 3;
}
